@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.containerr {
  font-family: "Poppins", sans-serif;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.responsive-video {
  position: sticky;
  top: 0;
  max-height: 100vh;
  margin: 10vw;
  display: block;
  align-self: flex-start;
}

@media (max-width: 1420px) {
  .responsive-video {
    margin: 0 auto;
    align-self: center; /* Ensures it aligns to the left */
  }
}
@media (max-width: 768px) {
  .responsive-video {
    padding-top: 20vh;
    margin: 0 auto;
    align-self: center; /* Ensures it aligns to the left */
  }
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}
.trail {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
  transform: translate(-50%, -50%);
  animation: fade 1s linear forwards;
}

@keyframes fade {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.5);
  }
}

body {
  overflow-x: hidden; /*sem scroll horizontal */
}

@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

.scroll-arrow-container {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scroll-arrow-container p {
  /* width: 50px; */
  animation: flickerAnimation 1s infinite;
}
.viewer {
  width: 100%;
  height: auto;
}
