name: React app deployment

on:
  push:
    branches: [master]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Install dependencies
        run: |
          npm ci

      - name: Build
        run: |
          npm run build
      
      - name: Push to gh-pages branch
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git --work-tree dist add --all
          git commit -m "Deploy"
          git push origin HEAD:gh-pages --force
